@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/variables/_colors.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-inter {
  font-family: var(--font-inter);
}

.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.glass {
  transition: 500ms ease-in-out all;
}

.glass:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.vertical-dots {
  width: 100px;
  height: 100px;
  background-image: radial-gradient(circle, black 10px, transparent 11px);
  background-size: 100% 33.33%;

  div::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    position: absolute;
    left: -15px;
    top: -42px;
  }

  div::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    position: absolute;
    left: -15px;
    top: 12px;
  }

  div {
    height: 20px;
    width: 20px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
}

.vercel-card {
  border: 1px solid #ffffff24 !important;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
  background: #0a0a0a;
  padding: 20px 16px 20px 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);

  width: 100%;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-color: #454545;
    background: #090909;
  }

  &.input {
    width: calc(100% + 20px);
  }
}