:root {
  --dropdown-color: #0b0a0b;
  --drodown-hover: rgba(255, 255, 255, 0.36);
  --card-input-color: #0b0a0b;
  --body-color: #010001;
  --active-btn-color: #1b1b1a;
  --text-white-color: #ededed;
  --text-not-active-color: #888888;
  --border-color: rgb(237, 237, 237);
  --box-shadow: rgba(255, 255, 255, 0.145) 0px 0px 0px 1px;
}

.border-seperator {
  border-color: var(--border-color);
}